.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.instructions {
  max-width: 60vw; 
  height: auto;
  display: flex;
  flex-direction: column;
}

.card-container {
  margin: 30px;
  min-width: 60vw; 
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.prompt-card {
  width: 200px;
  height: 300px;
  padding: 30px;
  font-size: 70%;
  background-color: black;
  color: white;
}

.answer-card {
  width: 200px;
  height: 300px;
  padding: 30px;
  font-size: 70%;
  background-color: white;
  color: black;
}

p {
  font-size: calc(10px + 1vmin);
}

button {
  padding: 30px;
}
